.form {
  text-align: left;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form label {
  font: inherit;
  cursor: pointer;
  margin-left: auto;

}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions .button--close {
  background-color: red;
}

.actions .button--add {
  background-color: green;
}
