.add_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 20%;
    background-color: rgb(143, 143, 255);
    cursor: pointer;
    border: 1px solid black;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    margin: 1rem;
    animation: button-appear 1s ease-out forwards;
}

.button:hover {
    background-color: rgb(104, 104, 255);
}

@keyframes button-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }